<header class=" relative cover overflow-hidden white-text search-banner" data-ui-component="header-area">
  <div class="container-fluid">

    <div>
      <div class="col-12 left mt4 ml4 mb4">
        <a ui-sref="home"><img src="assets/logo-main.png"></a>
      </div>
    </div>
  </div>
</header>

<div ng-controller="AgencyCtrl as agencyCtrl">
  <table class="noborder-top grey-border">
    <thead>
      <tr>
        <th colspan="8" class="blue-background-md grey-border p2-bottom">

            <div class="left">
              <H1 class="bold lh05">{{agencyCtrl.adopted.department}}</H1>
              <a class="lh05" href="http://{{agencyCtrl.adopted.website}}" target="_blank">{{agencyCtrl.adopted.website}}</a>
            </div>
            <div class="right">
              <H4 class="bold" >Department Contact:</H4>
              <div class="regular">{{agencyCtrl.adopted.contact}}</div>
              <a href="mailto:{{agencyCtrl.adopted.email}}" class="regular">{{agencyCtrl.adopted.email}}</a>
              <div class="regular">{{agencyCtrl.adopted.phone}}</div>
            </div>

        </th>
      </tr>
      <tr>
        <th class="p3-top">
          <paper-input label="Category" model-ref="agencyCtrl.category_fltr" type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'category'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="Title" model-ref="agencyCtrl.title_fltr"  type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'title'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="Division" model-ref="agencyCtrl.division_fltr"  type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'division'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="Remark" model-ref="agencyCtrl.remark_fltr" type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'remarks'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="Retention" model-ref="agencyCtrl.retention_fltr" type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'retention'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="On-site" model-ref="agencyCtrl.on_site_fltr" type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'on_site'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="Off-Site" model-ref="agencyCtrl.off_site_fltr" type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'off_site'; reverse=!reverse"></i>
        </th>
        <th class="p3-top">
          <paper-input label="Total" model-ref="agencyCtrl.total_fltr" type="text" icon="fa fa-filter"></paper-input>
          <i href="" class="fa fa-sort-alpha-asc right pointer mt2" ng-click="predicate = 'total'; reverse=!reverse"></i>
        </th>
      </tr>
    </thead>
  <tbody>
    <tr ng-repeat="record in agencyCtrl.records | orderBy:predicate:reverse
                                                | filter : {category: agencyCtrl.category_fltr,
                                                            title: agencyCtrl.title_fltr,
                                                            division: agencyCtrl.division_fltr,
                                                            remarks:agencyCtrl.remark_fltr,
                                                            retention: agencyCtrl.retention_fltr,
                                                            on_site: agencyCtrl.on_site_fltr,
                                                            off_site: agencyCtrl.off_site_fltr,
                                                            total: agencyCtrl.total_fltr}"
        ng-class-odd="'grey-background'" ng-class="'grey-border'">
      <td class="p1 grey-border" >{{record.category}}</td>{{agency.cat}}
      <td class="p1 grey-border" >{{record.title}}</td>
      <td class="p1 grey-border" >{{record.division}}</td>
      <td class="p1 grey-border" >{{record.remarks}}</td>
      <td class="p1 grey-border" >{{record.retention}}</td>
      <td class="p1 grey-border" >{{record.on_site}}</td>
      <td class="p1 grey-border" >{{record.off_site}}</td>
      <td class="p1" >{{record.total}}</td>
    </tr>
</tbody>
  </table>
</br>
</div>
