<div class="row" ng-controller="ConsoleCtrl">
    <div class="col-xs-8 navBar" style="display: inline-block">
        <a class="whiteLink linkPading">View Draftb</a>
        <select name="draftSelect"
                class="navBarSelect"
                ng-model="selected_draft_dept"
                ng-options=" draft_dept as draft_dept.draft.department for draft_dept in draft_depts" 
                ng-change="changed_draft_dept()">
                    <option value="">Choose Drafts</option>
        </select>

        <a class="whiteLink" class="selectMargin">View Published</a>
        <select name="adoptedSelect"
                class="navBarSelect"
                ng-model="selected_adopted_dept"
                ng-options=" adopted_dept as adopted_dept.adopted.department for adopted_dept in adopted_depts"
                ng-change="changed_adopted_dept()"
                >
            <option value="">Choose Adopted</option>
        </select>
        <a class="whiteLink linkPading" ui-sref="console.dashboard">Dashboard</a>
        <a class="whiteLink linkPading" ui-sref="console.users">All Users</a>
    </div>
    <div class="col-xs-4 navBar text-right">
        <a class="whiteLink pad10">Search</a>
        <a class="whiteLink pad10">Logout</a>
    </div>
</div>

<div class="container-fluid pad0 marg0"  ui-view="console"></div>
