<div id="edit-page">
  <div class="container-fluid" ng-controller="EditCtrl as editCtrl">
    <div>Schedule Page</div>
    <button ng-click="publish()">Publish</button>
    <strong>Count:</strong> {{editCtrl.draft_records.length}}</br>
  <input name="department" ng-model="editCtrl.draft_dept.draft.department">
  <input name="website" ng-model="editCtrl.draft_dept.draft.website">
  <input name="contact" ng-model="editCtrl.draft_dept.draft.contact">
  <input name="phone" ng-model="editCtrl.draft_dept.draft.phone">
  <input name="email" ng-model="editCtrl.draft_dept.draft.email">

  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td>Category</td>
      <td>Title</td>
      <td>Link</td>
      <td>Retention</td>
      <td>Divison</td>
      <td>Division Contract</div>
      <td>On Site</td>
      <td>Off Site</td>
      <td>Title</td>
      <td>Remarks</td>
    </tr>
  </table>

  <table>
    <tr ng-repeat="record in editCtrl.draft_records">
    <td>  
      <input ng-model="record.category" 
      typeahead="record.category as record.category for record in editCtrl.draft_records
      | filter:$viewValue | unique:'category'| limitTo:5"></input>
    </td>
    <td>
      <input ng-model="record.title"></input>
    </td>
    <td>
      <input ng-model="record.link"></input>
    </td>
    <td>
      <select ng-model="record.retention" ng-options="opt for opt in editCtrl.retention_categories"><select>
    </td>
    <td>
      <input ng-model="record.division"></input>
    </td>
    <td>  
      <input ng-model="record.division_contact"></input>
    </td>
    <td> 
      <input ng-model="record.on_site"></input>
    </td>
    <td> 
      <input ng-model="record.off_site"></input>
    </td>
    <td> 
      <input ng-model="record.total"></input>
    </td>
    <td>  
      <textarea rows="1" ng-model="record.remarks"></textarea>
    </td>
  </table>
  </input>
</div>
