<div id="edit-page">
  <div class="container-fluid" ng-controller="EditCtrl">
    <div>Schedule Page</div>
    <button ng-click="publish()">Publish</button>
    <strong>Count:</strong> {{draft_records.length}}</br>
  <input name="department" ng-model="draft_dept.draft.department">
  <input name="website" ng-model="draft_dept.draft.website">
  <input name="contact" ng-model="draft_dept.draft.contact">
  <input name="phone" ng-model="draft_dept.draft.phone">
  <input name="email" ng-model="draft_dept.draft.email">
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td>Category</td>
      <td>Title</td>
      <td>Link</td>
      <td>Retention</td>
      <td>Divison</td>
      <td>Division Contract</div>
      <td>On Site</td>
      <td>Off Site</td>
      <td>Title</td>
      <td>Remarks</td>
    </tr>
  </table>
  <table>
    <tr ng-repeat="record in draft_records">
    <td>  
      <div contenteditable="true" ng-model="record.category"></div>
    </td>
    <td>
      <div contenteditable="true" ng-model="record.title"></div>
    </td>
    <td>
      <div contenteditable="true" ng-model="record.link"></div>
    </td>
    <td>
      <div contenteditable="true" ng-model="record.retention"></div>
    </td>
    <td>
      <div contenteditable="true" ng-model="record.division"></div>
    </td>
    <td>  
      <div contenteditable="true" ng-model="record.division_contact"></div>
    </td>
    <td> 
      <div contenteditable="true" ng-model="record.on_site"></div>
    </td>
    <td> 
      <div contenteditable="true" ng-model="record.off_site"></div>
    </td>
    <td> 
      <div contenteditable="true" ng-model="record.total"></div>
    </td>
    <td>  
      <div contenteditable="true" ng-model="record.remarks"></div>
    </td>
  </table>
  </div>
</div>
