<!DOCTYPE html>
<html ng-app="sunshine" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>
<body>

  <!- ------------------Main UI View ------------------------ -->
  <!- removed overflow-hidden class from ui-view=main because it messes with native scrolling in handsontable -->
  <div class="container-fluid pad0 marg0"  ui-view="main"></div>

  <footer class="blue-background py4" ng-if="GlobalVariable.showfooter">
    <div class="clearfix footer-content">

        <div class="footer-address">
          <div class="city-seal">
            <a href="http://wwww.sfgov.org"><img src="assets/footerlogo.png"></a>
          </div>
          <ul class="list-unstyled white-link white-text">
            <h3>City &amp; County of San&nbsp;Francisco</h3>
            <li>City Hall</li>
            <li>1 Dr Carlton B Goodlett Pl.</li>
            <li>San&nbsp;Francisco, CA 94102</li>
          </ul>
        </div>

          <div class="footer-links related-links">
            <ul>
              <h3>Related Links:</h3>
              <li><a class="whiteLink" target="_blank" href="http://sfbos.org/index.aspx?page=4459">
                        Sushine Ordinance Task Force</a></li>
              <li><a href="http://sfgov.org" target="_blank">City &amp; County of San&nbsp;Francisco</a></li>
              <li><a href="http://www.sfmayor.org/" target="_blank">Mayors Office</a></li>
              <li><a class="whiteLink" target="_blank" href="http://sfbos.org/">Board of Supervisors</a></li>
            </ul>
          </div>

          <div class="footer-links">

            <ul>
              <h3>Support:</h3>
              <li><a href="">Contact Us</a></li>
              <li><a href="http://helpdesk">Report a Problem</a></li>
              <li><a href="http://help">Get Help</a></li>
            </ul>
          </div>
      </div>
    </footer>
  </body>
  </html>
