
<header class=" relative cover overflow-hidden white-text search-banner" data-ui-component="header-area">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 left mt4 ml4 mb4">
        <a ui-sref="home"><img src="assets/logo-main.png"></a>
      </div>
    </div>
  </div>
</header>

<div ng-controller="SearchCtrl as searchCtrl">
<!-------------------- Search Filters -------------------->
  <cc-menu cc-placement="left" cc-start-open="false" cc-width="320px">

    <form name="refineSearch" ng-submit="submitRefineSearch(searchCtrl.terms)" novalidate>
      <div class="card m2">
        <div class="bold blue-background-md lh35 px2" ng-if="searchCtrl.aggs.departments.buckets">Department</div>
        <div ng-repeat="department in searchCtrl.aggs.departments.buckets" class="ml2 lh20">
          <input type="checkbox"> {{department.key}} ({{department.doc_count}})
          <div ng-repeat=" division in department.division.buckets" class="ml3 lh20">
            <input type="checkbox" >
            {{division.key}} ({{division.doc_count}})
          </div>
        </div>
    </div>

      <div class="card m2">
        <div class="bold blue-background-md lh35 px2" ng-if="searchCtrl.aggs.category.buckets">Category</div>
        <div ng-repeat="category in searchCtrl.aggs.category.buckets" class="ml2 lh20">
          <input type="checkbox" class="ml1"> {{category.key}} ({{category.doc_count}})
        </div>
      </div>

      <div class="card m2">
        <div class="bold blue-background-md lh35 px2" ng-if="searchCtrl.aggs.retention.buckets">Retention Type</div>
        <div ng-repeat="retention in searchCtrl.aggs.retention.buckets" class="ml2 lh20">
          <input type="checkbox" > {{retention.key}} ({{retention.doc_count}})
        </div>
      </div>
    </form>
  </cc-menu>
  <!------------ Search Result ------------------>
  <cc-content>
      <div class="blue-background white-text search-header"><button class="blue-background white-text" cc-button ><i class="fa fa-bars"></i> Refine</button></div>
      <form name="mainSearch" ng-submit="submitMainSearch(searchCtrl.terms)" novalidate>
      <div class="search-box-sml">
        <input required name="search" ng-model="searchCtrl.terms" type="text" size="50" maxlength="75" style="margin-left:10px;border-radius: 6px;" placeholder=" search ..."/>
        <button class="button yellow-gold-fade" ng-disabled="Search.$invalid"><img src="assets/search-icon-home.png"></button>
      </div>
    </form>

      <div  ng-if="searchCtrl.results" class="px2" ng-repeat="result in searchCtrl.results">
        <h1 class="blue-text">{{result._source.title}}</h1>
        <table>
          <tr class="lh20">
            <td ng-if="result._source.department" class="bold p3-right">Department: </td>   <td><a ui-sref="agency({schedule_id:'{{result._source.schedule_id}}'})">{{result._source.department}}</a></td>
          </tr>
          <tr class="lh20">
            <td ng-if="result._source.category" class="bold p3-right">Category:</td>   <td>{{result._source.category}}</td>
          </tr>
          <tr class="lh20">
            <td ng-if="result._source.division" class="bold p3-right">Division: </td>   <td>{{result._source.division}}</td>
          </tr>
          <tr class="lh20">
            <td ng-if="result._source.contact" class="bold p3-right">Contact: </td>   <td>{{result._source.contact}}
              <span ng-if="result._source.email" class="fa fa-envelope-o px2" alt="email address">
                {{result._source.email}}
              </span>
              <span ng-if="result._source.phone" class="fa fa-phone" alt= "phone number">
              {{result._source.phone}}
              </span>
            </td>
          </tr>
          <tr ng-if="result._source.remarks" class="lh20 p3-right">
            <td class="bold">Remarks: </td>   <td>{{result._source.remarks}}</td>
          </tr>
          <tr class="lh40">
            <td colspan="2">
              <small>
              <span ng-if="result._source.retention">
                <span class="bold p1-right">retention type: </span>{{result._source.retention}}</span>
              <span ng-if="result._source.on_site">
                <span class="bold p2-left p1-right">retained on-site: </span>{{result._source.on_site}}</span>
              <span ng-if="result._source.off_site">
                <span class="bold p2-left p1-right">retained off-site: </span>{{result._source.off_site}}</span>
              <span ng-if="result._source.total">
                <span class="bold p2«»-left p1-right">total time retained: </span>{{result._source.total}}</span>
            </small>
            </td>
          </tr>
        </table>
        <hr>
      </div>

      <div ng-if="searchCtrl.count != null && searchCtrl.count == 0" class="py5 half-width horizontal-center">No results were found ...
        To see some examples of the kind of information held in the Index of Records,
        return to the <a ui-sref="home">home</a> page and click a department link.
      </div>
  </cc-content>
</div>
