<header class=" relative cover overflow-hidden white-text" data-ui-component="header-area">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 left mt4 ml4 mb4">
        <img src="assets/logo-main.png">
      </div>
    </div>
  </div>
</header>

<!-------------------- Search Filters -------------------->
<button cc-button style="left:450px;top:250px;position:absolute;">test</button>

<div class="container-fluid" ng-controller="SearchCtrl as searchCtrl">

  <div cc-menu cc-placement="left" cc-push="true" cc-start-open="true" cc-width="400px" ng-controller="FormCtrl as ctrl">

    <form name="homeSearch" ng-submit="submitSearch(ctrl.terms)" novalidate>
      <div class="search-box-sml">
        <input required name="search" ng-model="ctrl.terms" type="text" size="55" maxlength="75" style="margin-left:10px;border-radius: 6px;" placeholder=" search ..."/>
        <button class="button yellow-gold-fade" ng-disabled="homeSearch.$invalid"><img src="assets/search-icon-home.png"></button>
      </div>
      <div class="bold ml1">Refine by Department:</div>
      <div ng-repeat="department in searchCtrl.aggs.departments.buckets" class="ml2 lh20">
        <input type="checkbox"> {{department.key}} ({{department.doc_count}})
        <div ng-repeat=" division in department.division.buckets" class="ml3 lh20">
          <input type="checkbox" >
          {{division.key}} ({{division.doc_count}})
        </div>
      </div>
      <div class="bold ml1 p3-top">Refine by Category:</div>
      <div ng-repeat="category in searchCtrl.aggs.category.buckets" class="ml2 lh20">
        <input type="checkbox" class="ml1"> {{category.key}} ({{category.doc_count}})
      </div>

      <div class="bold ml1 p3-top">Refine by Retention Type:</div>
      <div ng-repeat="retention in searchCtrl.aggs.retention.buckets" class="ml2 lh20">
        <input type="checkbox" > {{retention.key}} ({{retention.doc_count}})
      </div>
    </div>

  </form>
</div>

<!------------ Search Result ------------------>
<div ng-controller="SearchCtrl as searchCtrl">
  <div ng-repeat="result in searchCtrl.results">
    <h1 class="blue-text">{{result._source.title}}</h1>
    <table>
      <tr class="lh20">
        <td ng-if="result._source.category" class="bold p3-right">Category:</td>   <td>{{result._source.category}}</td>
      </tr>
      <tr class="lh20">
        <td ng-if="result._source.department" class="bold p3-right">Department: </td>   <td>{{result._source.department}}</td>
      </tr>
      <tr class="lh20">
        <td ng-if="result._source.division" class="bold p3-right">Division: </td>   <td>{{result._source.division}}</td>
      </tr>
      <tr class="lh20">
        <td ng-if="result._source.contact" class="bold p3-right">Contact: </td>   <td>{{result._source.contact}}
          <span ng-if="result._source.email" class="fa fa-envelope-o px2" alt="email address">
            {{result._source.email}}
          </span>
          <span ng-if="result._source.phone" class="fa fa-phone" alt= "phone number">
          {{result._source.phone}}
          </span>
        </td>
      </tr>
      <tr ng-if="result._source.remarks" class="lh20 p3-right">
        <td class="bold">Remarks: </td>   <td>{{result._source.remarks}}</td>
      </tr>
      <tr class="lh40">
        <td colspan="2">
          <small>
          <span ng-if="result._source.retention">
            <span class="bold p1-right">retention type: </span>{{result._source.retention}}</span>
          <span ng-if="result._source.on_site">
            <span class="bold p2-left p1-right">retained on-site: </span>{{result._source.on_site}}</span>
          <span ng-if="result._source.off_site">
            <span class="bold p2-left p1-right">retained off-site: </span>{{result._source.off_site}}</span>
          <span ng-if="result._source.total">
            <span class="bold p2«»-left p1-right">total time retained: </span>{{result._source.total}}</span>
        </small>
        </td>
      </tr>
    </table>
  <hr>
  </div>
</div>
