<button cc-button style="left:450px;top:250px;position:absolute;">test</button>
<h1>SEARCH</h1>
<div cc-menu cc-placement="left" cc-width="100px" cc-push="true" >
  <p>TITLE</p>
  <div class="container-fluid" ng-controller="HomeCtrl">
  <div ng-repeat="item in dept_list | orderBy:adopted.department | limitTo: 10">
    {{item.adopted.department}}
  </div>
</div>
</div>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<!-- <div ng-controller="SearchCtrl as searchCtrl">
  <div ng-repeat="result in searchCtrl.results">
    {{result._source.title}}
    {{result._source.category}}
    {{result._source.department}}
    {{result._source.division}}
    {{result._source.contact}}
    {{result._source.remarks}}
    {{result._source.on_site}}
    {{result._source.off_site}}
    {{result._source.total}}
  </br>
  </div>
</div> -->
