<header class="table relative cover overflow-hidden white-text" data-ui-component="header-area">
<div class="left mt4 ml4 "><img src="assets/logo-main.png"></div>
<div class="clearfix"></div>
<div class="clearfix">
  <div class="col-12 px10 py3 mx-auto">
    <h2 >Welcome to the City and County of San Francisco Index of Public Records.  Inagurated in February 2001, the Index was developed by the General Services Agency as required by the Sunshine Ordinance</h2>
  </div>
</div>
<div class="absolute top-4 right-4"><button class="btn blue-fade btn-default white-text">Administrators</button></div>
</header>

<div ng-controller="FormCtrl as ctrl">
  <form name="homeSearch" ng-submit="submitSearch(ctrl.terms)" novalidate>

        <input autofocus="autofocus" required name="search"
          ng-model="ctrl.terms" type="text" size="55" maxlength="75"
            style="margin-left:10px;border-radius: 6px;" placeholder="search ..."/>

        <button type="submit"
        ng-disabled="homeSearch.$invalid">Submit</button>

    </form>
</div>

<div class="container-fluid" ng-controller="HomeCtrl">
<div ng-repeat="item in dept_list | orderBy:adopted.department" class="col-xs-2 pad10">
    {{item.adopted.department}}
</div>
</div>
